* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family:'Roboto',sans-serif;
}

body {
    background-color: black;
}

.logo:hover {
    color:#000000;
    background-color: white;
}

a {
    text-decoration: none;
    
}

li a:hover {
    color:#000000;
    background-color: white;
}

li p:hover {
    color:#000000;
    background-color: white;
}

.page {
    padding: 20px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #00000000;
}

.nav-elements-r {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 55%;
    background-color: #00000000;
}

.nav-item {
    padding: 0px 5px;
    background-color: #00000000;
}

.number {
    display: inline;
}

.burger div {
    width: 22px;
    height: 3px;
    margin: 5px;
    background-color:  #ffffff ;
    display: none;
    transition: all 0.3s ease;
}

.burger {
    cursor: pointer;
}

.hero {
margin-top: 60px;
flex-wrap: nowrap;
justify-content: center;
}

.mySlides {
    width: 70%;
    height: 30vh;
    object-fit: cover;
}

.title {
    width: 100%;
}

.heading {
    font-size: 18px;
    text-align: center;
    padding-top: 6px;
}

.contact-wrap {
    padding: 20px 0px 0px 0px;
}

.button1 {
    color: white;
    text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;
    font-size: 2.5vh;
    font-weight: 100;
}

.button1:hover {
    transform: scale(1.5);
    color: #000000;
}

.hero-image-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none; 
    padding-top: 0px;
}

.slides-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero-image {
    width: 50%;
}

.about-container {
    padding: 40px;
}

.about-me {
    padding: 0px 0px 20px 0px;
    font-size: 30px;
    font-weight: 500;
}

.number {
    padding-right: 4px;
}

.image-cont {
    display: grid;
}

.work-title{
    padding-bottom: 6px;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    border-bottom: 1px solid white;
    width: 30%;
    padding: 10px;
    margin: 60px;  
    height: 210px 
}

#card-1:hover{
    background:url(Images/jungala-comp.png) no-repeat 50% 50%;
    background-size:cover;
}

#card-2:hover{
    background:url(Images/r-crop.png) no-repeat 50% 50%;
    background-size:cover;
}

#card-3:hover{
    background:url(Images/DV-rohin-warehouse2-low-res.jpg) no-repeat 50% 50%;
    background-size:cover;
}

#card-4:hover{
    background:url(Images/DV-rohin-warehouse2-low-res.jpg) no-repeat 50% 50%;
    background-size:cover;
}

.project-title {
    font-size: 30px;
    padding-bottom: 5px;
}

.project-role {
    font-size: 14px;
}

.project-description {
    padding: 20px 0px;
}

@media only screen and (max-width: 1100px) {
    h2 {
        font-size: 4vh;
        position: relative;
        width: 100%;
    }

    .button1 {
        font-size: 2vh;
    }
}

@media only screen and (max-width: 800px) {

    .work-image {
        width: 100%;
        
     }

    .button1 {
        font-size: 2vh;
    }
}

@media only screen and (max-width: 980px) {
    body {
        padding: 0px;
        overflow-x: hidden;
    }

    .nav-elements-r {
        position: fixed;
        height: 80vh;
        background-color: black;
        width: 100%;
        height: 100%;
        top: 50px;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: left;
        transform: translateX(100%);
        padding: 170px 0px 0px 30px;
        justify-content: flex-start;  
        transition: all 0.2s ease;     
    }

    li a:hover {
        text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;
        color: #000000;
        background-color: #000000;
    }

    li p:hover {
        color: white;
        background-color: black;
    }
    
    .nav-elements-r a {
        font-size: 8vh;
    }

    .nav-item {
        padding: 10px;
    }

    .number {
        position: relative;
        font-size: 3vh;
        top: -32px
    }

    .nav-active {
        transform: translateX(0%);
    }

    .burger div {
        display: block;     
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px,6px);
    }
    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px,-6px);
    }
}

@media only screen and (max-width: 700px) {
   
    .title {
        padding: 0px 0px 0px 20px;
        width: 100%;
    }

    .hero {
        padding-top: 10px;
    }
}