* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    font-family:'Roboto',sans-serif;
}

body {
    background-color:white;
}

.logo:hover {
    color:white;
    background-color:black;
}

a {
    text-decoration: none;
}

li a:hover {
    color:#ffffff;
    background-color: black;
}

li p:hover {
    color:#000000;
    background-color: black;
}

.page {
    scroll-snap-type: both mandatory ;
    overflow-y: scroll;
    height: 100vh;
}

section {
    height: 100vh;
    scroll-snap-align: start;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #00000000;
}

.nav-elements-r {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 55%;
    background-color: #00000000;
}

.nav-item {
    padding: 0px 5px;
    background-color: #00000000;
}

.number {
    display: inline;
    font-size: 11px;
}

.nav-item{
    font-size: 14px;
}

.burger div {
    width: 22px;
    height: 3px;
    margin: 5px;
    background-color: black ;
    display: none;
    transition: all 0.3s ease;
}

.burger {
    cursor: pointer;
}

.hero {
    margin-top: 0px;
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.vid-wrap {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.slides-wrap {
    width: 50%;
    display: flex;
}

.mySlides {
    width: 100%;
    height: 500px;
    object-fit: cover;
    padding: 80px 0px 80px 130px;
    object-fit: contain;
}

.title {
    width: 100%;
}

.heading {
    font-size: 18px;
    text-align: center;
    padding-top: 6px;
}

.contact-wrap {
    padding: 20px 0px 0px 0px;
}

.button1 {
    color: black;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    font-size: 2.5vh;
    font-weight: 100;
}

.button1:hover {
    transform: scale(1.5);
    color: #000000;
}

.hero-image-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none; 
    padding-top: 0px;
}

.about-container {
    padding: 40px;
}

.about-me {
    padding: 0px 0px 20px 0px;
    font-size: 30px;
    font-weight: 500;
}

.number {
    padding-right: 4px;
}

.image-cont {
    display: grid;
}

.work-title{
    padding-bottom: 6px;
}

.projects-section {
    height: 100vh;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    border-bottom: 1px solid black;
    width: 80%;
    padding: 5px;
    margin: 130px 80px 0px 80px;  
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#card-1{
    margin-bottom: -100px;
}

#card-2{
    margin-bottom: -100px;
}

#card-1:hover{
    background:url(Images/image1.jpg) no-repeat 50% 50%;
    background-size:cover;
}

#card-2:hover{
    background:url(Images/r-crop.png) no-repeat 50% 50%;
    background-size:cover;
}

#card-3:hover{
    background:url(Images/DV-rohin-warehouse2-low-res.jpg) no-repeat 50% 50%;
    background-size:cover;
}

#card-4:hover{
    background:url(Images/DV-rohin-warehouse2-low-res.jpg) no-repeat 50% 50%;
    background-size:cover;
}

.project-card:hover .project-title  {
    color:black;
    background-color: white;
}

.project-card:hover .project-role  {
    color:black;
    background-color: white;
}

.project-card:hover .project-description  {
    color:black;
    background-color: white;
}

.project-title {
    font-size: 23px;
    display: inline-block;
    padding: 3px;
    width: 100%;
}

.project-role {
    font-size: 14px;
    display: inline-block;
    padding: 3px;
    width: 100%;
}

.project-description {
    display: inline-block;
    padding: 3px;
    width: 100%;
}

@media only screen and (max-width: 1100px) {
    h2 {
        font-size: 4vh;
        position: relative;
        width: 100%;
    }
 
    .button1 {
        font-size: 2vh;
    }

    .hero {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .vid-wrap {
        width: 70%;
    }

    .slides-wrap {
        width: 100%;
    }

    .mySlides {
        padding: 0px;
    }
}

@media only screen and (max-width: 800px) {

    .work-image {
        width: 100%;   
    }

    .button1 {
        font-size: 2vh;
    }

    .page {
        scroll-snap-type: none ;
        overflow-y: none;
        height: 100vh;
    }
    
    section {
        height: 100vh;
        scroll-snap-align: none;
    }
}

@media only screen and (max-width: 980px) {
    body {
        padding: 0px;
        overflow-x: hidden;
    }

    .nav-elements-r {
        position: fixed;
        height: 100vh;
        background-color: white;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: left;
        transform: translateX(100%);
        padding: 170px 0px 0px 30px;
        justify-content: flex-start;  
        transition: all 0.2s ease;     
    }

    .burger{
        z-index: 100;
    }

    li a:hover {
        text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
        color: white;
        background-color: #000000;
    }

    li p:hover {
        color: black;
        background-color: white;
    }
    
    .nav-elements-r a {
        font-size: 8vh;
    }

    .nav-item {
        padding: 10px;
    }

    .number {
        position: relative;
        font-size: 3vh;
        top: -32px
    }

    .nav-active {
        transform: translateX(0%);
    }

    .burger div {
        display: block;     
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px,6px);
    }
    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px,-6px);
    }
}

@media only screen and (max-width: 700px) {
   
    .title {
        padding: 0px 0px 0px 20px;
        width: 100%;
    }

    .hero {
        padding-top: 40px;
    }
}